aiobotocore @ file:///tmp/build/80754af9/aiobotocore_1632831806531/work
aiohttp @ file:///D:/bld/aiohttp_1637087172837/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1632292602851/work
aioitertools @ file:///home/conda/feedstock_root/build_artifacts/aioitertools_1628428722576/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
anyio @ file:///D:/bld/anyio_1637703430072/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1640855429528/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1625395912402/work
async-generator==1.10
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1638156214979/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1635204771494/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopage==0.4.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1618014561223/work
botocore @ file:///tmp/build/80754af9/botocore_1628183497250/work
brotlipy @ file:///D:/bld/brotlipy_1636012381660/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046293990/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click @ file:///D:/bld/click_1635822830533/work
click-plugins==1.1.1
cligj==0.7.2
cmd2==2.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
commonmark==0.9.1
configobj==5.0.6
cryptography @ file:///D:/bld/cryptography_1639699508385/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///D:/bld/debugpy_1636043421411/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1627027576828/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1640931331198/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1636872986284/work
dpath @ file:///D:/bld/dpath_1636304453013/work
dulwich @ file:///D:/bld/dulwich_1641349341049/work
dvc @ file:///D:/bld/dvc_1640426905690/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1639332867099/work
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1640697294996/work/source/flit_core
flufl.lock @ file:///home/conda/feedstock_root/build_artifacts/flufl.lock_1634088721286/work
fonttools @ file:///D:/bld/fonttools_1639926487978/work
frozenlist @ file:///D:/bld/frozenlist_1636286794349/work
fsspec @ file:///tmp/build/80754af9/fsspec_1636116461911/work
ftfy @ file:///home/conda/feedstock_root/build_artifacts/ftfy_1621924325797/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1640095670534/work
future @ file:///D:/bld/future_1635819659513/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1632423794953/work
grandalf==0.6
gssapi @ file:///D:/bld/python-gssapi_1636133001918/work
gunicorn==20.1.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1639976435943/work
importlib-resources==5.2.2
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///D:/bld/ipykernel_1641325619739/work/dist/ipykernel-6.6.1-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1638470483769/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
jedi @ file:///D:/bld/jedi_1637175281472/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1641134858126/work
jupyter @ file:///D:/bld/jupyter_1637233286771/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1637611911738/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1616560109969/work
jupyter-core @ file:///D:/bld/jupyter_core_1636814449073/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1639084645710/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1639150690547/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1640788773309/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
kiwisolver @ file:///D:/bld/kiwisolver_1635836839743/work
mailchecker @ file:///home/conda/feedstock_root/build_artifacts/mailchecker_1640879803342/work
Mako==1.1.5
MarkupSafe @ file:///D:/bld/markupsafe_1635833725355/work
matplotlib @ file:///D:/bld/matplotlib-suite_1639359275746/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune @ file:///D:/bld/mistune_1635844874781/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1637732846337/work
multidict==5.2.0
munch==2.5.0
munkres==1.1.4
nanotime==0.5.2
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1635436909771/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///D:/bld/nbconvert_1641352164252/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1637122013008/work
numpy @ file:///D:/bld/numpy_1641177189784/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1639398359434/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathlib2 @ file:///D:/bld/pathlib2_1635859581677/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pbr==5.6.0
phonenumbers @ file:///home/conda/feedstock_root/build_artifacts/phonenumbers_1640422020016/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1636558975346/work
pluggy @ file:///D:/bld/pluggy_1635833078128/work
ply==3.11
prettytable==2.2.1
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1639065841292/work
psutil @ file:///D:/bld/psutil_1640887336249/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pyasn1==0.4.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///D:/bld/pydantic_1641053290854/work
pydot==1.2.4
pygit2 @ file:///D:/bld/pygit2_1638794935767/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1640969120816/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1609712740518/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1635267989520/work
pyperclip==1.8.2
pyproj==3.2.1
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyreadline3==3.3
pyrsistent @ file:///D:/bld/pyrsistent_1636052904035/work
PySocks @ file:///D:/bld/pysocks_1635862590164/work
pytest==6.2.5
python-benedict @ file:///home/conda/feedstock_root/build_artifacts/python-benedict_1633418865701/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-fsutil @ file:///home/conda/feedstock_root/build_artifacts/python-fsutil_1620333537959/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1620267765676/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pywin32==303
pywinpty @ file:///D:/bld/pywinpty_1637030176820/work/target/wheels/pywinpty-1.1.6-cp38-none-win_amd64.whl
PyYAML @ file:///D:/bld/pyyaml_1636139895442/work
pyzmq @ file:///D:/bld/pyzmq_1635877383625/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1640876679830/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1640200777318/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1641157475705/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1640809860774/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1636815762467/work
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1634322382745/work
s3transfer @ file:///D:/bld/s3transfer_1602631277371/work
scikit-learn @ file:///D:/bld/scikit-learn_1640464350231/work
scipy @ file:///C:/bld/scipy_1637806857964/work
scmrepo @ file:///home/conda/feedstock_root/build_artifacts/scmrepo_1640164469434/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
Shapely==1.7.1
shortuuid @ file:///D:/bld/shortuuid_1636643858908/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1641150030074/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio @ file:///D:/bld/sniffio_1635844809276/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1626701188566/work
# Editable Git install (starter==0.0.0) with either a deleted local remote or invalid URI:
# 'master'
-e c:\users\jahed.naghipoor\pycharmprojects\udacity_ml\nd0821-c3-starter-code\starter
stevedore==3.4.0
tabulate==0.8.9
terminado @ file:///D:/bld/terminado_1636052447744/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
text-unidecode==1.3
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tornado @ file:///D:/bld/tornado_1635819758615/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
unicodedata2 @ file:///D:/bld/unicodedata2_1640031186081/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1631795222793/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
uvicorn @ file:///D:/bld/uvicorn_1638979271910/work
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1634129269635/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1637174334634/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635833007271/work
wrapt @ file:///D:/bld/wrapt_1635836544243/work
xmltodict==0.12.0
yarl==1.6.3
zc.lockfile==2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
